.Rproj.user
.Rhistory
.RData

/IntroR.Rproj

/Slides/.DS_Store

/Slides/Albany useR_md/
/Slides/Albany_useR/.DS_Store
/Slides/Albany_useR/IntroR.aux
/Slides/Albany_useR/IntroR.log
/Slides/Albany_useR/IntroR.nav
/Slides/Albany_useR/IntroR.out
/Slides/Albany_useR/IntroR.snm
/Slides/Albany_useR/IntroR.tex
/Slides/Albany_useR/IntroR.toc
/Slides/Albany_useR/IntroR.vrb
/Slides/Albany_useR/jss.bst
/Slides/Albany_useR/jss.cls
/Slides/Albany_useR/Rd.sty
/Slides/Albany_useR/Sweave.sty
/Slides/Albany_useR/texput.log
/Slides/Albany_useR/upquote.sty
/Slides/IntroRandLaTeXforIR/.DS_Store
.DS_Store
